.btn {
    margin-left: 10px;
}

.todo-item__button-grup {
    margin: 5px;
}

.todo-item__span-width{
    max-width: 400px;
    text-align: initial;
    margin: 5px
}

.todo-item__button-grup {
    display: flex;
}