.list-group-item {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-left: 3px;
}

.list-group-item span {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

